@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700;900&display=swap");
* {
  padding: 0;
  margin: 0;
}
body{
  background-color: #f5f2f0;
  font-family: "Poppins",sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20vh;
  padding: 0 100px;
}
.logo {
  width: 100px;
}
.nav-items {
  position: relative;
  list-style-type: none;
  display: flex;
  gap: 78px;
  font-size: 16px;
  color: #8e8989;
  align-items: center;
}
.nav-item {
  cursor: pointer;
  font-size: medium;
}
.line {
  position: absolute;
  background-color: #333;
  left: -400px;
  width: 80%;
  border-radius: 40px;
  height: 1.5px;
}

.left-img {
  width: 30vw;
}
.left-img img {
  width: 30vw;
  position: absolute;
  top: 0;
  z-index: -1;
  height: 100vh;
}
.hero {
  display: flex;
  width: 60vw;
  position: relative;
}
.heading {
  position: absolute;
  left: 55%;
  top: -30px;
}
.heading h1 {
  font-size: 5rem;
  font-family: "Merriweather", sans-serif;
  font-weight: 800;
  color: #333;
}
.heading > h1 {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.heading-text {
  position: relative;
  left: 8rem;
  line-height: 0.7;
}
.text {
  position: relative;
  left: 25rem;
  bottom: 3.5rem;
  font-size: 1.3rem;
  color: #555;
}
.hero .btn button {
  position: relative;
  left: 25rem;
  bottom: 3rem;
  padding: 12px 3rem;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.social-media-icons {
  position: relative;
  flex-direction: column;
  right: -87rem;
  display: flex;
  gap: 45px;
  top: -16px;
  cursor: pointer;
}
.social-media-icons img {
  width: 22px;
}
.social-media-icons img:nth-child(2) {
  width: 18px;
}
.social-media-icons img:nth-child(3) {
  width: 14px;
}
.social-media-icons img:nth-child(4) {
  width: 18px;
}

.hero-bottom {
  position: absolute;
  top: 450px;
  left: 520px;
}

.hero-bottom ul {
  line-height: 3;
  border-radius: 10px;
}

.hero-bottom li {
  color: #868686;
}

.active p {
  color: #333;
  font-weight: bold;
}

.hero-bottom .line-and-dot {
  position: absolute;
  background-color: #868686;
  height: 110%;
  width: 1.55px;
  left: -14.5px;
  top: 20px;
}
.dot{
    
}
.quotes {
  position: absolute;
  left: 200px;
  top: 3px;
}

.quotes p {
  font-size: 16px;
  margin-bottom: 20px;
  margin-left: 50px;
}

.quote-icon .fa-quote-right {
  font-size: 40px;
  color: #333333;
}

.bottom-image {
  margin-left: 10rem;
  width: 400px;
}

.arrow {
  position: absolute;
  top: 50px;
  right: -140px;
}

.arrow > img {
  width: 30px;
}
